body{
    font-family: 'Manrope', sans-serif;
    height: 100vh;
}
li{
    list-style-type: none;
}
.wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0 140px;
    background-color: #F2F7FF;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
}
.logo{
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #1C313B;
}

.header-links{
    margin: 2px 0 0 62px;
}
.header-links a{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #969696;
    margin-left: 32px;
}
.header-links a:hover{
    color: #068CC9;
}
.header-links a:first-child{
    margin-left: 0;
}
.main_desc div:first-child{
    width: 850px;
    height: 168px;
    margin-top: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}


/* ======================================================== */

.adv_cards{
    display: flex;
}
.adv_card{
    display: flex;
    flex: 6;
}
.adv_card img{
    min-width: 72px;
    height: 72px;
}
.adv_cards-content{
    margin-left: 15px;
}
.advantages_name{
    width: 662px;
    height: 128px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-top: 150px;
}
.adv_name{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.adv_desc{
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
}
.adv_cards{
    margin-top: 50px;
}
.adv_cards:last-child{
    margin-top: 70px;
}

/* ======================================================== */

.faq{
    background-color: #F2F7FF;
    box-sizing: border-box;
}

.name div:first-child{
    width: 404px;
    height: 128px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}
.name_pic{
    margin-top: 35px;
    width: 466px;
    height: 591px;
    background: url(/img/faq-pic1.png) no-repeat top;
}

.collapse1,
.collapse3,
.collapse5,
.collapse7,
.collapse9,
.collapse11{
    border-top: 1px solid #068CC9;
    border-bottom: 1px solid #068CC9;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}
.collapse2,
.collapse4,
.collapse6,
.collapse8,
.collapse10{
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

.lists{
    width: 100%;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list a{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F7FF;
    border: none;
    color: #068CC9;
}
.list a:hover,
.list a:focus{
    background-color: #F2F7FF;
    color: #068CC9;
    border: none;
}
.collapse_card-name{
    width: 100%;
    color: #068CC9;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    margin-left: 20px;
}
.card{
    margin-top: 20px;
    background-color: #F2F7FF;
    border: none;
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    max-width: 560px;
}

/* ======================================================== */

.footer{
    height: 40vh;
}
.footer .wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
}
.footer_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_main-links{
    display: flex;
}
.footer_links{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.footer_logo{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.footer_links a{
    margin-left: 30px;
    text-decoration: none;
    color: #969696;
}
.footer_links a:hover{
    color: #068CC9;
}
.footer_links a:first-child{
    margin: 0;
}
.link-pics a{
    margin-left: 25px;
    text-decoration: none;
}
.link-pics img:hover{
    transition: .3s;
    transform: scale(1.2);
}